body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

/* text input area in time block */
textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  text-align: left;
  border-left: 1px solid black;
  padding: 10px;
  border-top:1px solid black;
  margin-bottom: .7rem;
}

/* header area with title and current time */
.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description {
  white-space: pre-wrap;

}

/* time block div class */
.time-block {
  text-align: left;
  border-radius: 15px;
  color: #000000;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

/* background color for past time blocks */
.past {
  background-color: #d3d3d3;
  color: black;
  text-align: left;
}

/* background color for present time block */
.present {
  background-color: #ff6961;
  color: black;
  text-align: left;
}

/* background color for future time blocks */
.future {
  background-color: #77dd77;
  color: black;
  text-align: left;
}

/* save button class */
.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
